@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #F4F1E7;
    --yellow: #F6B144;
    --black: #232321 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* =========== Reusable CSS =========== */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* =========== index.html =========== */
body {
    font-family: "Shantell Sans", cursive;
}

