@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffaee;
    font-family: "EB Garamond", serif;
}

/* ======== REUSABLE CSS ======== */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ======== NAVBAR ======== */

header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
}

header img {
    width: 60%;
}

header img:hover {
    scale: 1.1;
    transition: ease-out .1s;
}

.navbar ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.8em;
}

.navbar ol li {
    font-size: 1.2em;
}

.navbar ol li:hover {
    scale: 1.1;
}

.navbar ol li a {
    text-decoration: none;
    color: black;
}

/* ======== MAIN ======== */

.section {
    text-align: center;
    margin-top: 5em;
}

.section__destaque img {
    border-top: 3px solid #F5BD26;
    border-bottom: 3px solid #F5BD26;
    margin-bottom: 3em;
}

.section__cards {
    text-align: center;
}

.section__cards img {
    margin: 1em;
}

.section__title {
    text-align: center;
    font-size: 2em;
}

.section__separator {
    border: 2px solid #F9F1DC;
}

.section__paragraph {
    width: 40em;
    margin: 2em auto;
}

footer {
    text-align: center;
    padding: 2em 0;
    background-color: #fff;
    margin-top: 5em;
}

/* ======== cardapio.html ======== */
main h1 {
    text-align: center;
    border-top: .5em dotted #F5BD26;
    border-bottom: .5em dotted #F5BD26;
    padding: 1em 0;
    margin-top: 1em;
}

main article {
    display: flex;
    flex-direction: row;
}

main article aside {
    width: 25em;
}

.cardapio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5em;
}

.cardapio__title {
    display: none;
}